.menu {
	border: solid 1px rgb(102, 175, 233);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
	background: rgba(255, 255, 255, 0.9);
	font-size: 90%;
	overflow: auto;
	max-height: 250px;
	position: absolute;
	min-width: 944px;
}

.item {
	padding: 5px 15px;
	cursor: default;
	border-bottom: 1px solid #eee;
}

.highlightedItem {
	color: white;
	background: hsl(200, 50%, 50%);
	padding: 5px 15px;
	cursor: default;
	border-bottom: 1px solid #eee;
}

.itemHeader {
	background-color: #ddd;
	padding: 10px 15px;
	color: #454545;
	font-weight: bold;
}
